<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body style="background: #214a80;">
  <div class="login-dark" style="height: 695px;">
    <form>
      <h2 class="sr-only">Register Form</h2>
      <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
      <div class="form-group"><input class="form-control" type="email" name="email"       [(ngModel)]="email"        placeholder="Correo electrónico"></div>
      <div class="form-group"><input class="form-control" type="password"  [(ngModel)]="password"  name="password" placeholder="Contraseña"></div>
      <div class="form-group"><input class="form-control" type="password"  [(ngModel)]="cpassword"  name="password" placeholder="Repetir Contraseña"></div>
      <div class="form-group"><button class="btn btn-primary btn-block" (click)="register()">Registrarse</button></div><a class="forgot"
        href="#">Ya tienes una cuenta?</a>
    </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>